<!doctype html>
<html lang="en">
	<head>
		<title>
			{% block title %}Password Reset Email Sent
			{% endblock %}
		</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{% block stylesheet %}
			<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

			<link rel="stylesheet" href="{{ asset('css/login.css') }}">
		{% endblock %}
	</head>
	{% block body %}
		<section class="ftco-section">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-12 col-lg-10">
						<div class="wrap d-md-flex">
							<div class="img" style="background-image: url({{ asset('img/slide5.png') }});"></div>
							<div class="login-wrap p-4 p-md-5">
								<div class="d-flex">
									<div class="w-100">
										<h3 class="mb-4">Reset Your Password</h3>
                                        <hr/>
									</div>
									<div class="w-100">
										<p class="social-media d-flex justify-content-end">
											<a href="#" class="social-icon d-flex align-items-center justify-content-center">
												<span class="fa fa-facebook"></span>
											</a>
											<a href="#" class="social-icon d-flex align-items-center justify-content-center">
												<span class="fa fa-twitter"></span>
											</a>
										</p>
									</div>
								</div>
                                <br/>
									<p>
                                        If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password.
                                        This link will expire in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
                                    </p>
                                    <p>If you don't receive an email please check your spam folder or <a href="{{ path('app_forgot_password_request') }}">try again</a>.</p>
								<br/>
								<br/>
								<br/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	{% endblock %}
	{% block js %}
		<script src="js/jquery.min.js"></script>
		<script src="js/popper.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/main.js"></script>
	{% endblock %}
</html>
